@model Examen.Models.Dato

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CSV</title>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Guardado con exito</h1>
        <span>Ubicacion: Examen\Examen\bin\Debug\net6.0</span>
        <p><a href="https://localhost:7266/Datoes">Regresar a CRUD SIMPLE</a>.</p>
    </div>
</body>
</html>
